body{
    background-color: rgb(49, 49, 49);
}

h1{
    font-family: 'Fleur De Leah', cursive;
    color: white;
    font-size: 60px;
    font-style: normal;
    font-weight: normal;
    display: inline;
}

h2, h3, h4, h5{
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    display: inline;
}

tr,td{
    vertical-align: middle;
}